@import "tailwindcss";
@layer utilities {
  /* Hapus .no-scrollbar yang lama, ganti dengan ini: */
  
  /* Scrollbar Tipis & Gelap */
  .custom-scrollbar::-webkit-scrollbar {
    width: 6px; /* Lebar tipis */
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    background: transparent;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #262626; /* Warna Neutral-800 */
    border-radius: 20px;
    border: 1px solid #0a0a0a; /* Border biar misah sama background */
  }

  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background-color: #404040; /* Warna Neutral-700 saat hover */
  }
}
@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
